#parse ("common/header.vm")
<div id="content">

	<div id="breadcrumb">
	<a href="../mypage/main.html"><strong>Home</strong></a></div>
<h1>◎マイページ</h1>

<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>
<div id="dialog" title="案件情報" style="overflow:hidden;background-color:white">
 <br />
 	<div id="innerData"></div>
 </div>
</div>

<style>

	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
<script>

	$(document).ready(function() {

		var list = [];
		#foreach($bean in $!admList)
			var date = new Date("$bean.yearmonthday");
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
			list.push({code:"$bean.temno",title:"$bean.temname", start:new Date(y, m, d), end:new Date(y, m, d)});
		#end

		$('#calendar').fullCalendar({

			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			select: function(start, end, allDay) {
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			editable: false,
			events: list,
			eventClick: function(event, calEvent, jsEvent, view) {
				goViewForm(event.code);
	        },
			loading: function(bool) {
				if (bool) {
					$('#loading').show();
				}else{
					$('#loading').hide();
				}
			}

		});

		$("#dialog").dialog({
			autoOpen:false,
			show:'clip',
			hide:'clip',
			modal:true,
			width:910,
			height:600,
			resizable:true,
			buttons:{
				"移動":function() { location.href = "../adm/admdolist.html"; },
				"cancel":function() { $(this).dialog('close'); }
			}
		});

	});

	function goViewForm(temno) {
		document.getElementById("innerData").innerHTML = "<iframe src='../adm/admview.html?temno=" + temno + "' width='100%' height='600px' frameborder=0></iframe>";
		$('#dialog').dialog('open');
		return false;
	}
</script>
#parse ("common/bottom.vm")
