#parse ("common/header.vm")
<script type="text/javascript" src='../common/js/admin/category.js'></script>
<div id="content">

	<div id="breadcrumb">
	<a href="../mypage/main.html">Home</a> / 管理ページ / <strong>カテゴリ情報</strong></div>
<h1>
◎カテゴリ情報
</h1>
<form id="f" name="f" action="../admin/category.html" method="POST" class="f-wrap-2">
<input type="hidden" id="maincode" name="maincode" value="">
<input type="hidden" id="subcode" name="subcode" value="">
<fieldset>
	<label for="searchUsercode"><b>#springMessage('title.category.maincode'):</b>
		<input id="searchMainCode" name="searchMainCode" type="text" maxlength="255" value="$!{info.searchMainCode}"/>
	</label>
	<label for="searchUsername"><b>#springMessage('title.category.mainname'):</b>
		<input id="searchMainName" name="searchMainName" type="text" maxlength="255" value="$!{info.searchMainName}"/>
		<input id="btnSearch" class="f-submit" type="submit" name="btnSearch" value="検索"/>
	</label>
</fieldset>
</form>
<br>
<div style="height:30px;text-align:right;">
	Total Count : $!{list.size()}&nbsp;<input type="button" value="#springMessage('button.new')" onclick="goRegistForm('');">
</div>
<div height="800px">
<table class="table1">
    <thead>
        <tr>
            <th>#springMessage('title.category.maincode')</th>
            <th>#springMessage('title.category.mainname')</th>
            <th>#springMessage('title.category.usediv')</th>
            <th>#springMessage('title.category.subnum')</th>
            <th>#springMessage('title.common.etc')</th>
            <th>#springMessage('title.common.createdate')</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    	#foreach($bean in $!list)
        <tr>
            <td>$!bean.maincode</td>
            <td>$!bean.mainname</td>
            <td><select id="usediv" name="usediv">
				<option value="$!bean.maincode/Y" #if($!bean.usediv=="Y")selected #end>使用中</option>
				<option value="$!bean.maincode/N" #if($!bean.usediv=="N")selected #end>中止</option>
			</select></td>
            <td>$!bean.subnum</td>
            <td>$!bean.etcdesc</td>
            <td>$!bean.createday</td>
            <td><input type="button" value="#springMessage('button.detail')" onclick="viewCateSub('$!bean.maincode');">
            	<input type="button" value="#springMessage('button.update')" onclick="goRegistForm('$!bean.maincode')">
            	<input type="button" value="#springMessage('button.delete')" onclick="goDeleteForm('$!bean.maincode')">
            </td>
        </tr>
        #end
		#if("$!list.size()" == "0" || "$!list.size()"=="")
		<tr id="tablecontents" align="center">
			<td colspan="7"><b>#springMessage("common.info.notResultList")</b></td>
		</tr>
		#end
    </tbody>
</table>
</div>
<div id="detailView" style="display:none;">
	<div style="height:30px;text-align:right;">
		<input type="button" value="#springMessage('button.new')" onclick="goSubRegistForm('');">
	</div>
<table class="table1">
    <thead>
        <tr>
            <th>中分類コード</th>
            <th>中分類名</th>
            <th>中分類値</th>
            <th>中分類値2</th>
            <th>中分類値3</th>
            <th>表示順番</th>
            <th>使用区分</th>
            <th>生成日</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
 </table>
</div>
<script>
function viewCateSub(code) {
	var table="";
	$("#maincode").val(code);
	$.getJSON("./categorysub.html?maincode="+code,function(json){
		$.each(json,function(i,item){
		    table += '<tr>';
			table += '<td>'+item.subcode+'</td>';
			table += '<td>'+item.subname+'</td>';
			table += '<td>'+item.subvalue+'</td>';
			table += '<td>'+item.subvalue2+'</td>';
			table += '<td>'+item.subvalue3+'</td>';
			table += '<td>'+item.vieworder+'</td>';
			table += '<td>'+item.usediv+'</td>';
			table += '<td>'+item.createday+'</td>';
			table += '<td>';
			table += '<input type="button" value="修正" onclick="viewCateSub(\'$!bean.maincode\');">&nbsp;';
			table += '<input type="button" value="削除" onclick="viewCateSub(\'$!bean.maincode\');">';
			table += '</td>';
			table += '</tr>';
		});
		if(json.length < 1){
			  table += '<tr><td colspan="9" align="center">#springMessage("common.info.notResultList")</td></tr>';
		  }
	  $('#detailView tbody tr').remove();
  	  $('#detailView tbody').append(table);
  	  $("#detailView").show('3000');

	});

}
</script>
#parse ("common/bottom.vm")